/* Background */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('/bg.jpg') no-repeat center/cover;
  color: rgb(37, 121, 218);
}

/* Layout */
.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: rgba(20, 20, 40, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar p {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar p:hover {
  background: rgba(255,255,255,0.1);
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Top bar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Cards */
.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 12px;
  margin: 10px;
}

.stats {
  display: flex;
  gap: 15px;
}

/* Button */
.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #00c6ff;
  color: rgb(81, 161, 223);
  cursor: pointer;
}