.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* LEFT SIDE */
.left-panel {
  flex: 1.2;  /* 🔥 bigger than right */
  /*background: url("/hostel.jpg") no-repeat center center;*/
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 60px;
  color:#3db6e2;
}

.left-panel h1 {
  font-size: 48px;
  font-weight: bold;
}

.left-panel p {
  opacity: 0.8;
  margin-top: 10px;
}

/* RIGHT SIDE */
.right-panel {
  flex: 1;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLASS CARD */
.login-card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* BUTTON */
.login-card button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  transform: scale(1.05);
}
